<table class="table table-hover ">
    <thead>
        <tr>
            <th scope="col">
                <p class="placeholder-glow m-0 ">
                    <span class="placeholder rounded " style="width: 20px;height: 10px;"></span>
                </p>
            </th>
            <th scope="col">
                <p class="placeholder-glow m-0 ">
                    <span class="placeholder rounded " style="width: 150px;height: 10px;"></span>
                </p>
            </th>
            <th scope="col">
                <p class="placeholder-glow m-0 ">
                    <span class="placeholder rounded " style="width: 80px;height: 10px;"></span>
                </p>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded " style="width: 20px;height: 10px;"></span>
                </p>
            </td>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded " style="width: 150px;height: 10px;"></span>
                </p>
            </td>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded " style="width: 80px;height: 10px;"></span>
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded" style="width: 20px;height: 10px;"></span>
                </p>
            </td>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded" style="width: 150px;height: 10px;"></span>
                </p>
            </td>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded" style="width: 80px;height: 10px;"></span>
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded" style="width: 20px;height: 10px;"></span>
                </p>
            </td>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded" style="width: 150px;height: 10px;"></span>
                </p>
            </td>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded" style="width: 80px;height: 10px;"></span>
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded" style="width: 20px;height: 10px;"></span>
                </p>
            </td>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded" style="width: 150px;height: 10px;"></span>
                </p>
            </td>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded " style="width: 80px;height: 10px;"></span>
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded " style="width: 20px;height: 10px;"></span>
                </p>
            </td>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded " style="width: 150px;height: 10px;"></span>
                </p>
            </td>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded " style="width: 80px;height: 10px;"></span>
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded " style="width: 20px;height: 10px;"></span>
                </p>
            </td>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded " style="width: 150px;height: 10px;"></span>
                </p>
            </td>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded " style="width: 80px;height: 10px;"></span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded " style="width: 20px;height: 10px;"></span>
                </p>
            </td>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded " style="width: 150px;height: 10px;"></span>
                </p>
            </td>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded " style="width: 80px;height: 10px;"></span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded " style="width: 20px;height: 10px;"></span>
                </p>
            </td>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded " style="width: 150px;height: 10px;"></span>
                </p>
            </td>
            <td>
                <p class="placeholder-glow m-0">
                    <span class="placeholder rounded " style="width: 80px;height: 10px;"></span>
                </p>
            </td>
        </tr>


    </tbody>


</table>
