.container-login {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    font-family: 'Be Vietnam Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bs-primary);

}
form label{
    font-size: 12px;
}

form label,form div{
    color:var(--bs-primary)

}
.login{
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: #fff;

}

form{
  width: 75%;
}

@media (min-width: 576px) {
  .login{
    border-radius: 0 60%;
  }
  form{
    width: 25%;
  }
}
